$color_1: white;
$background-color_1: #1b2838;
$background-color_2: black;


body {
	background-color: $background-color_1;
	color: $color_1;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $background-color_2;
	padding: 1rem;
	color: $color_1;
}

.navbar-title {
	margin-right: auto;
	color: $color_1;
	text-decoration: none;
}

.navbar-links {
	display: flex;
	gap: 10px;
	list-style-type: none;
}
.navbar-links a:hover{
background-color: #275388;
border-radius: 4px;
padding: 5px;
}

.nav-link {
	color: $color_1;
	text-decoration: none;
    
}

.header{
    margin-left: 40px;
    text-transform: uppercase;
}

.color {
	color: $color_1;
	text-decoration: none;
}

.game-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 40px;
	padding-right: 40px;
}

.game {
	width: 380px;
	margin-bottom: 20px;
    border: 5px solid grey;
    list-style: none;
    
	img {
		width: 380px;
		height: 400px;
	}
}

// .gamepageimg{
// 	width: 1080px;
// 	height: 500px ;
// 	margin-bottom: 20px;
//     border: 5px solid grey;
//     list-style: none;
// }

h1 {
	margin-bottom: 10px;
}

.button {
	margin-bottom: 20px;
    background-color: $background-color_2;
    color: $color_1;
}

.fav-button{
    background-color: $background-color_2;
    color: $color_1;
}

.rem-fav-button{
    margin-bottom: 15px;
    background-color: $background-color_2;
    color: $color_1;
    
}
.gam {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #287873;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gam h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .gam img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	border-radius: 4px;
	margin-bottom: 20px;
  }
  
  .gam p {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .gam .description {
	margin-top: 20px;
  }
  
  .gam .tags,
  .gam .developers,
  .gam .publishers,
  .gam .platforms,
  .gam .buy {
	margin-bottom: 10px;
  }
  
  .gam .tags span,
  .gam .developers span,
  .gam .publishers span,
  .gam .platforms span {
	background-color: #190112;
	padding: 2px 6px;
	border-radius: 6px;
	margin-right: 6px;
  }
  
  .gam .buy a {
	background-color: #007bff;
	color: #fff;
	padding: 6px 12px;
	border-radius: 4px;
	text-decoration: none;
  }
  
  .gam .buy a:hover {
	background-color: #0056b3;
  }
  

